#title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.c1{
    font-size: 100px;
    font-weight: bold;
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

body{
background-color: lightcyan
}
